.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding-top: 195px;
  justify-content: center;
}

.popup::after {
  content: '';
  background-color: #000;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 320px) {
  .popup {
    padding-top: 123px;
  }
}
