.popup__safe-btn {
  max-width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: opacity .5s ease;

}

.popup__safe-btn:hover {
  opacity: .8;
}

@media (max-width: 320px) {
  .popup__safe-btn {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }

}
