.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

@media (max-width: 635px) {
  .profile__avatar {
    margin: 0 auto 25px;
  }
}

/* @media (max-width: 547px) {
  .profile__avatar {
    margin-bottom: 25px;
  }
}

@media (max-width: 505px) {
  .profile__avatar {
    margin: 0 auto 25px;

  }
} */
