.profile__info {
  margin-left: 30px;
  margin-right: auto;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  column-gap: 18px;
  row-gap: 16px;
  align-items: end;
}

@media (max-width: 447px) {
  .profile__info {
    margin: 0 auto 36px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 14px;
  }
}
